header.navbar.navbar-static-top.bs-docs-nav
  div.container
    div.navbar-header
      a.navbar-brand(href="/") P2peyeFe
    nav.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/learn") 园地首页
        li
          a(href="/learn/components") 组件
        li
          a(href="/learn/plugins") JavaScript 插件
        li
          a(href="/learn/websites") 网站实例

      ul.nav.navbar-nav.navbar-right
        li
          a(href="http://www.p2peye.com/") 网贷天眼
        li
          if locals.user
            div.user_info
              div.user_logo
              div.user_name= locals.user.cname
              div.user_arrow

              ul.dropdown-menu.user_dropmenu
                if locals.user.id == 1
                  li
                    a(href="/users/") 查看所有用户
                li
                  a(href="/users/userCenter/") 个人中心
                li
                  a(href="/users/help") 帮助中心
                li
                  a(href="/login/out") 退出
          else
            a(href="/login/page") 登录



