header.navbar.navbar-static-top.bs-docs-nav
  div.container
    div.navbar-header
      a.navbar-brand(href="/") P2peyeFe
    nav.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/task") 任务首页
        li
          if locals.user
            a(href="/task/myList") 我的任务列表
          else
            a(href="/login/page") 我的任务列表
        li
          if locals.user
            a(href="/task/addPage") 创建任务
          else
            a(href="/login/page") 创建任务

      ul.nav.navbar-nav.navbar-right
        li
          a(href="http://www.p2peye.com/") 网贷天眼
        if locals.user
          li
            div.user_info
              div.user_logo
              div.user_name= locals.user.cname ? locals.user.cname : locals.user.name
              div.user_arrow
              ul.dropdown-menu.user_dropmenu
                if locals.user.id == 1
                  li
                    a(href="/users/") 查看所有用户
                li
                  a(href="/users/userCenter/") 个人中心
                li
                  a(href="/users/help") 帮助中心
                li
                  a(href="/login/out") 退出
        else
          li
            a(href="/login/page") 登录
          li
            a(href="/register/page") 注册



