extends layout

block styles
  link(rel='stylesheet', href='/pc/css/error.css')
block scripts
  script(src='/pc/js/error.min.js')
block head
  include common/head/head_two.pug
block foot
  include common/foot/foot_two.pug
block content
  div.center
    h1= message
    h2= error
