extends ../../layout

block styles
  link(rel='stylesheet', href='/pc/css/learn/websites/index.css')
block scripts
  script(src='/pc/js/learn/websites/index.min.js')

block content
  div.big_logo(style="background-image: url(http://static.bootcss.com/expo/img/d/dd/2de797545de56274f03a5920eb3a1.jpg)")
    div.logoimg
      a(href="http://localhost:3000",title="p2peye_fe 优站精选")
        img(src="http://image.youzhan.org/e/35/22ccaf4c24ef690f7767e6a3ba5f0.png",alt="p2peye_fe 优站精选",width="78")
    div.container
      div.row
        div.col-xs-12
        div.logotxt
          h1
            a(href="http://localhost:3000") p2peye_fe
        h2.site-name.text-center 优站精选
          span http://localhost:3000


  div.row
    each work, index in allWorks
      div.col-xs-12.col-sm-6
        article.post.tag-ad
          h2.post-title
            a(href="/uploads/"+work.userid+"/websites/"+work.subject_name+"/index.html",target="_blank")= work.subject_name
          div.post-featured-image
            a.thumbnail.loaded(href="/uploads/"+work.userid+"/websites/"+work.subject_name+"/index.html",target="_blank")
              img(src="/uploads/"+work.userid+"/websites/"+work.subject_name+"/snapshot_"+work.filenameTarget+".png",width="700",height="438",alt=work.subject_name)



  nav.pagination
    if page > 1
      a.newer-posts(href="/websites/"+(page-1)) &larr; 上一页
    span.page-number 第 #{page} 页/共 #{Math.ceil(total / 10)} 页
    if Math.ceil(total / 10) > page
      a.older-posts(href="/websites/"+(page+1)) 下一页 &rarr;



  div.submit-site
    div.container
      div.submit
        p.text-center
          | 如果你的网站基于
          a(href="http://localhost:3000/",target="_blank") p2peye_fe
          | 构建、并且用心的设计，那就提交到
          a(href="mailto:admin@p2peye_fe.com") admin@p2peye_fe.com
          | 在这里展示吧！
        p.text-center 请注明“p2peye_fe网站作品提交 -- 你的网址”

