@charset "UTF-8";
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  font-family: Microsoft Yahei , arial; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

fieldset, img {
  border: none; }

img {
  border: none; }

iframe {
  display: block; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500; }

ol, ul, li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500; }

q:before, q:after {
  content: ''; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a:hover {
  text-decoration: underline; }

ins, a {
  text-decoration: none; }

.txt-r {
  text-align: right; }

.txt-c {
  text-align: center; }

textarea {
  resize: none;
  overflow: auto; }

input, textarea {
  outline: none; }

a {
  color: #0081cb;
  outline: none; }

/**
 * 常用样式
 */
/*  */
/* 单行文字省略 */
/* display:inline-block;IE6,7块级元素对inline-block支持不好 */
/* 清除浮动 */
/* 箭头 arrow(direction, size, color); */
/* 透明 */
/*  */
/*  */
/*  */
.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid #c4c4c4; }

.user_info {
  height: 50px;
  line-height: 50px;
  padding-right: 15px;
  padding-left: 35px;
  position: relative;
  float: right;
  cursor: pointer; }
  .user_info .user_logo {
    width: 28px;
    height: 28px;
    background-image: url("/img/userlogo_default.png");
    position: absolute;
    top: 11px;
    left: 0px; }
  .user_info .user_name {
    height: 100%;
    color: #337ab7; }
  .user_info .user_arrow {
    width: 12px;
    height: 12px;
    background-image: url("/img/icons.png");
    background-position: -9px -97px;
    position: absolute;
    top: 19px;
    right: 0px; }

.main-footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595;
  margin-top: 20px; }

.main-footer .widget .title {
  color: #fff;
  border-bottom: 1px solid #303030; }

.main-footer .widget .tag-cloud a {
  border: 1px solid #303030; }

.main-footer .widget .tag-cloud a:hover {
  border: 1px solid #337ab7; }

.widget {
  margin-bottom: 35px; }

.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative; }

.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #337ab7;
  position: absolute;
  left: 0;
  bottom: -1px; }

.widget .friend-links a {
  display: block;
  border-bottom: 1px dashed #303030;
  padding-bottom: 14px;
  margin-bottom: 14px;
  color: #959595;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.widget .friend-links a:hover {
  color: #fff;
  text-decoration: none; }

.widget .friend-links a:last-child {
  margin-bottom: 0; }

.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.widget .tag-cloud a:hover {
  color: #fff;
  background: #337ab7;
  border: 1px solid #337ab7;
  text-decoration: none; }

.submit-site {
  background-color: #eee;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px; }

.copyright {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555;
  padding-top: 14px;
  padding-bottom: 20px;
  border-top: 1px solid #303030; }

.copyright span {
  margin: 0 .5em; }

.copyright a {
  color: #555; }

.langSetting .col-sm-12 {
  margin-bottom: 15px; }

.langSetting .form-group {
  margin-left: 0;
  margin-right: 0; }

.form:before, .form:after {
  content: "";
  display: table; }

.form:after {
  clear: both; }

.form {
  position: relative; }
  .form .form_required {
    color: red; }
  .form .left {
    width: 50%;
    float: left; }
    .form .left .form-group {
      margin-bottom: 25px; }
  .form .right {
    width: 50%;
    float: left;
    padding-left: 8%; }
    .form .right .userHeadLogo {
      width: 140px; }
      .form .right .userHeadLogo .img-thumbnail {
        width: 100%;
        height: 140px;
        cursor: pointer; }
      .form .right .userHeadLogo .userlogotext {
        width: 100%;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        display: block; }
    .form .right .userInfoText {
      font-weight: bold; }
  .form .right:after {
    clear: both; }
