footer.main-footer#ft
  div.container
    div.row
      div.col-sm-4
        div.widget
          h4.title 友情链接
          div.content.friend-links
            a(href="http://www.p2peye.com/" title="网贷天眼" target="_blank") www.p2peye.com网贷天眼
            a(href="http://licai.p2peye.com/" title="网贷理财" target="_blank") licai.p2peye.com网贷理财

      div.col-sm-4
        div.widget
          h4.title 我们用到的技术
          div.content.tag-cloud
            a(href="http://www.bootcss.com/" title="Bootstrap中文网" target="_blank") Bootstrap
            a(href="http://jquery.com/" title="Jquery" target="_blank") Jquery
            a(href="http://github.com/" title="Github" target="_blank") Github
            a(href="http://nodejs.cn/" title="Nodejs" target="_blank") Nodejs
            a(href="https://www.mysql.com/" title="Mysql" target="_blank") Mysql
            a(href="https://www.sass.hk/" title="Sass" target="_blank") Sass
            a(href="https://www.npmjs.com/package/pug" title="Pug" target="_blank") Pug

      div.col-sm-4
        div.widget
          h4.title 赞助商
          div.content.friend-links
            a(href="https://www.p2peye.com/" title="网贷天眼" target="_blank") 网贷天眼


  div.copyright
    div.container
      div.row
        div.col-sm-12
          span
            | Copyright &copy;
            a(href="http://www.p2peye.com") Copyright © 2013 p2peye.com 北京银讯财富信息技术有限公司 版权所有
          | |
          span
            a(href="http://www.miibeian.gov.cn/" target="_blank") 京ICP备13053798号-1京ICP证150049号 京公网安备 11010502033185 号
